.room-page {
  padding: 24px;
  background-color: #f5f5f5;
  min-height: 100vh;
  filter: blur(5px);
}
.border-room-page {
  background: black;
  overflow: hidden;
}
.room-content {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #e35454;
  max-width: 800px;
  width: 100%;
  color: whitesmoke;
}

.room-page .ant-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: white;
}

.room-page .ant-btn {
  border-radius: 6px;
}
