.roleConfigurationSection {
  display: flex;
  gap: 16px;
}
.roleConfigurationBlock {
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.roleText{
    font-size: 20px;
    margin-bottom: 8px;
}
.roleConfigurationSectionText {
    font-size: clamp(0.5rem, 2vw, 1.3rem);
}
