.notification {
  cursor: pointer;
}
.notification-item {
  display: flex;
  border-bottom: 1px solid #e35454;
  padding: 10px 30px;
  align-items: center;
  gap: 20px;
  color: whitesmoke;
  width: 100% !important;
  box-sizing: border-box;
}
.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification-content {
  width: 100%;
}
