.accountNavBlock{
    display: grid;
    width: 90px;
    background: GhostWhite;
    padding: 10px;
    border-radius: 20px;
    align-items: start;
    padding-bottom: 50%;
    margin: 20px;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.5s;
}
.accountPage{
    height: 100vh;
    display: flex;
}

.accountNavBlock a{
    text-decoration: none;
    height: auto;
    font-size: 1.2rem;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}
.accountNavBlock div{
    display: none;
}

.accountNavBlock a:hover{
    background-color: rgb(233, 233, 250);
    color: black;
}
.elementBlock{
    display: flex;
    align-items: center;
}
.elementBlock img, #menu{
    width: 40px;
    height: 40px;
}
.activeBlock{
    width: 400px;
    font-size: 1.2rem;
}
.activeButton{
    display: block !important;
}
.menuBlock{
    display: flex;
    justify-content: end;
}
.selected{
    background-color: rgb(163, 163, 255) !important;
    color: black;
}
#pages{
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background: GhostWhite;
}
.hidePage{
    display: none;
}
