.section {
  height: 100vh;
  display: "flex";
  align-items: "center";
  justify-content: "center";
  font-size: "24px";
  background: whitesmoke;
  border-bottom: 2px solid black;
}
.sectionNav {
  display: grid;
  gap: 15px;

  position: fixed;
  top: 40%;
  left: 0;

  border: 9px solid gray;
  border-radius: 0 20px 20px 0;
  border-left: 0;
  z-index: 101;
  background: black;
}
.sectionNav button {
  background: none;
  color: white;
  border: 0;
  padding: 20px;
  border-bottom: 3px solid gray;
  font-size: 13px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.wrapper {
  max-width: 500px;
  margin-inline: auto;
}
.card {
  padding-block: 200px;
  padding-inline: 100px;
  flex: 1;
  aspect-ratio: 1/1.5;
  border: 1px solid linear-gradient(135deg, white, whitesmoke);

  cursor: pointer;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  transition: 0.4s;
  background: linear-gradient(135deg, #3494e6, #ec6ead);
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.gallery:hover > :not(:hover) {
  transform: perspective(400px) rotateY(30deg);
  filter: blur(2px);
}
.card:hover {
  transform: scale(1.1);
}
.card:hover ~ .card {
  transform: perspective(400px) rotateY(-30deg) scale(0.9);
}

#FPage {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  padding-top: 50px;
}

.dots-container {
  position: absolute;
  right: 50px;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dot {
  border: 2px solid whitesmoke;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active{
  background-color: white;
}
.page-content{
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.6);
  width: 1000px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 50px;
  /* transition: position 0.3s ease-in-out; */
}