.navWorkout {
  position: sticky;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  gap: 10px;
  justify-content: center;
  z-index: 90;
  top: 80px;
}
.navElements {
  display: grid;
  justify-items: center;
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
  transition: all 0.5s;
  margin: 5px;
  gap: 5px;
}

.navElements img {
  width: 30px;
  height: 30px;
  filter: brightness(40%);
  transition: all 0.5s;
}
.navElements div {
  font-weight: 600;
  color: rgb(136, 139, 147);
  font-family: Inter, sans-serif;
  transition: all 0.5s;
}
.navElements:hover {
  background: linear-gradient(100deg, rgb(51, 55, 61), rgb(24, 26, 29));
}
.navElements:hover img {
  filter: brightness(100%);
}
.navElements:hover div {
  color: whitesmoke;
}

.pageBackground {
  width: 100%;
  height: 800px;
  background: whitesmoke;
  position: relative;
  overflow: hidden;
}

.pageBackground img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.workoutBodyComponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(24, 26, 29);
  padding-inline: 500px;
}
a {
  cursor: pointer;
}

.workoutTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.workoutTitle {
  font-size: 30px;
  font-weight: bold;
}
.workoutDesc {
  padding-block: 20px;
}
.workoutCard img {
  width: 100%;
  height: auto;
  max-height: 320px;
  object-fit: cover;
}
.workoutText {
  background-color: rgb(34, 37, 41);
  color: white;
  padding: 20px;
  border-radius: 8px;
  gap: 0px;
}
.upperWorkoutTable {
  padding-block: 40px;
  color: white;
  font-size: 20px;
}
.workoutTrainer {
  color: rgb(191, 192, 192);
}
.activeEl {
  border: 2px solid whitesmoke;
}
.activeEl img {
  filter: brightness(100%);
}
.activeEl div {
    color: white;
}
